* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #fff;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  margin: 2.5rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  gap: 8px;
}

.search input {
  height: 4.8rem;
  border: none;
  border-radius: 5px;
  padding: 16px;
  background: #06181C;
  max-width: 430px;
  width: 100%;
  color: white;
}

.search button {
  display: flex;
  height: 4.8rem;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  background: #065E7C;
  border: none;

  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
}
.search button img {
  height: 24px;
}


.search button:hover {
  filter: brightness(1.1)
}
.scrollit {
  overflow: overlay scroll;
  max-height: 750px;
  overflow-x: hidden;
}
.scrollit::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}

/* Track */
.scrollit::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
  border-radius: 100%;
  margin-block-start: 55px;
}
 
/* Handle */
.scrollit::-webkit-scrollbar-thumb {
  background: #4A808C;
  border-radius: 10px;
}

/* Handle on hover */
.scrollit::-webkit-scrollbar-thumb:hover {
  background: #8bb8c2;
}
table {
  width: 100%;
  border: 1.5px solid #4A808C;
  border-spacing: 0;
  border-radius: 12px;
  overflow:hidden;
  border-collapse:separate;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

table * {
  font-size: 1.4rem;
  color: var(--text-color);
}

table th {
  background: #092D38;
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
} 
table tr:nth-child(even) {
  background: #06181C;
}

table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.50);
}

table td {
  padding: 1.5rem;
  text-align: left;
  border-top: 1.5px solid #4A808C;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}


td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td .remove {
  background: none;
  border: none;

  color: #F75A68;
  cursor: pointer;

}

#Div1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4E5455;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
}
#Div1 img {
  margin-right: 30px;
  height: 125px;
}